* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .container {
  display: flex;
}
.main-container .container .bloc-1 {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 300px;
  background: linear-gradient(190deg, rgb(120, 87, 255) 0%, rgb(46, 43, 233) 100%);
  text-align: center;
}
.main-container .container .bloc-1 .userResults {
  padding-top: 2rem;
  font-size: 1.3rem;
  color: hsl(221, 100%, 96%);
}
.main-container .container .bloc-1 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(78, 33, 202);
  background: linear-gradient(190deg, rgb(78, 33, 202) 0%, rgb(36, 33, 202) 100%);
  border-radius: 50%;
  margin: 1.6rem auto;
  width: 10rem;
  height: 10rem;
}
.main-container .container .bloc-1 .circle h1 {
  color: #ffffff;
  font-size: 4rem;
}
.main-container .container .bloc-1 .congratulations {
  padding: 0 6rem 2rem 6rem;
  text-align: center;
}
.main-container .container .bloc-1 .congratulations h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 500;
}
.main-container .container .bloc-1 .congratulations p {
  margin-top: 1rem;
  color: hsl(221, 100%, 96%);
  text-align: center;
  font-size: 1.4rem;
}
.main-container .container .bloc-2 {
  padding: 2rem;
  width: 300px;
}
.main-container .container .bloc-2 .summary .score {
  color: hsl(241, 100%, 89%);
  font-weight: 700;
  font-size: 1.4rem;
}
.main-container .container .bloc-2 .summary .score span {
  font-weight: 800;
  font-size: 1.4rem;
  color: hsl(224, 30%, 27%);
}
.main-container .container .bloc-2 .summary .reaction {
  background: hsla(0, 100%, 67%, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}
.main-container .container .bloc-2 .summary .reaction p {
  color: hsl(0, 100%, 67%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
.main-container .container .bloc-2 .summary .memory {
  padding: 1rem;
  margin: 1rem 0;
}
.main-container .container .bloc-2 .summary .memory p {
  color: hsl(39, 100%, 56%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
.main-container .container .bloc-2 .summary .verbal {
  padding: 1rem;
  margin: 1rem 0;
}
.main-container .container .bloc-2 .summary .verbal p {
  color: hsl(166, 100%, 37%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
.main-container .container .bloc-2 .summary .visual {
  padding: 1rem;
  margin: 1rem 0;
}
.main-container .container .bloc-2 .summary .visual p {
  color: hsl(234, 85%, 45%);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}
.main-container .container .bloc-2 .btn {
  width: 100%;
  padding: 1.4rem 4rem;
  margin: 1rem 0;
  background-color: hsl(224, 30%, 27%);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.6rem;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

@media (max-width: 376px) {
  .container {
    border: 1px solid red;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */